.entriesHolder{
    width: 100%;
    height: 100%;
    display: flex;    
    flex-wrap: wrap;
}

.entriesHolder > .buttons {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 100%;
}